html {
    font-size: 16px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: unset;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

a:hover {
    color: #e2e2e2;
}

@function printFlexType($type) {
    @if $type == 's' {
        @return start;
    } @else if $type == 'c' {
        @return center;
    } @else if $type == 'e' {
        @return end;
    } @else if $type == 'sb' {
        @return space-between;
    } @else if $type == 'sa' {
        @return space-around;
    } @else if $type == 'st' {
        @return stretch;
    }
}

@mixin col($colCount, $margin: 0rem) {
    width: calc((100% / 12) * #{$colCount} - #{$margin});
}

@mixin flex($x, $y) {
    display: flex;
    justify-content: printFlexType($x);
    align-items: printFlexType($y);
}

@mixin bg() {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

$mobile: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


p {
    margin: 0;
}

a {
    text-decoration: none;
}

$c-black: #282728;
$c-black-hover: #3a3838;
$c-green: #1C9B55;
$c-green-hover: #157640;
$c-while: #fff;
$c-while-hover: #e8e8e8;
$c-grey: #a37b51;
$c-grey-hover: #8f6e47;


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c3c3c3;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #abaaaa;
}

.wrapper {
    $width: 1300px;
    width: 100%;
    max-width: $width;
    margin: 0 auto;
    @media (max-width: $width) {
        padding: 10px;
    }
}


.c-block {
    color: $c-black;
}

.c-block-grey {
    color: rgba(0, 0, 0, 0.64);
}

.c-while {
    color: $c-while;
}

.c-green {
    color: $c-green;
}

.c-green-hover:hover {
    color: $c-green-hover;
}

.c-yellow {
    color: #FFB800;
}

.c-red {
    color: #FF0000;
}


.bgc-block {
    background-color: $c-black;
}

.bgc-while {
    background-color: $c-while;
}

.bgc-green {
    background-color: $c-green;
}

.bgc-yellow {
    color: #FFB800;
}
.page-item .page-link{
    color: $c-black;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $c-black !important;
    border-color: $c-black !important;
}

.product-body{
    img{
        max-width: 100%;
    }
}

$nav-height: 5.625rem;
.navbar-site {
    width: 100%;
    height: $nav-height;
    background: $c-black;
    position: relative;
    z-index: 1000;

    .container {
        height: 100%;
    }

    .row {
        @include flex('s', 'c');
        height: 100%;
    }

    .menu-item {
        color: #fff;
        @include flex('c', 'c');
        border-bottom: 3px solid transparent;
        transition: 0.2s;
        padding: 1.66rem 0;
        white-space: nowrap;
        position: relative;

        &.tg {
            &:after {
                display: none;
            }

            &.active {
                color: #fff;
                border-bottom: 3px solid transparent;
            }

            &:hover {
                color: #fff;
                border-bottom: 3px solid transparent;
            }
        }

        &:after {
            content: "";
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 20px;
            background: rgba(255, 255, 255, 0.53);
            @media (max-width: $xl) {
                display: none;
            }
        }

        &.active {
            color: #E5E903;
            border-bottom: 3px solid #E5E903;
        }

        &:hover {
            color: #E5E903;
            border-bottom: 3px solid #E5E903;
        }
    }
}

.navbar-logo-site {
    width: 4rem;
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(15px);
    position: fixed;
    left: -100%;
    top: 0;
    padding-top: $nav-height;
    z-index: 10;
    transition: 0.5s;

    &.active {
        left: 0;
    }

    .mobile-menu-item {
        width: 100%;
        height: 60px;
        font-size: 1.5rem;
        @include flex('c', 'c');
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.62);

        &.active {
            background: #686868;

            a {
                color: #fff;
            }
        }

        a {
            color: #fff;
        }
    }
}


.c-black-grey {
    color: #7A7A7A;
}


.product-block {
    width: 100%;
    height: 26rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 12px #a6a6a6;
    display: block;
    position: relative;
    transition: 0.2s;
    padding-bottom: 3.5rem;

    .top-product{
        position: absolute;
        background: #61ce70;
        color: #fff;
        padding: 0.3125rem 1rem;
        border-radius: 1.5625rem;
        top: 0.625rem;
        right: 0.625rem;
        font-size: 0.8125rem;
    }
    &:hover {
        box-shadow: 0 0 30px #aaaaaa;
    }

    .img-block {
        width: 100%;
        height: 12.5rem;
        @include flex('c', 'c');
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    h3 {
        width: 100%;
        padding: 2.5rem;
        text-align: center;
        color: #54595F;
        font-size: 1.3625rem;
        font-weight: 400;
        overflow: hidden;
        height: 9.7125rem;

        @media (max-width: $sm) {
            padding: 1.25rem 1.625rem;
        }
    }

    .data {
        width: 100%;
        height: auto;
        padding: 1.25rem 0;
        @include flex('c', 'c');
        font-size: 12px;
        color: #adadad;
        border-top: 1px solid #adadad;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.info {
    color: #81939f;
    font-size: 13px;
    padding-top: 1rem;
    margin-top: 0.5rem;
    .datetime, .reading-time{
        display: none;
    }
}

footer {
    width: 100%;
    min-height: 80px;
    background: $c-black;
    margin-top: 30px;
    padding: 0.9375rem 0;
    @include flex('sb', 'c');

    .row {
        @include flex('sb', 'c');
        height: 100%;

        .text {
            height: 100%;
            @include flex('c', 'c');
            font-size: 1.5625rem;
            color: #fff;
        }
    }
}
